* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(127, 150, 12);
}
.container {
    border: 2px solid rgb(211, 194, 194);
    width: 300px;
    border-radius: 15px;
    height: 400px;
    margin: 120px auto;
}

.title {
    text-align: center;
    color: white;
    padding: 10px;
    margin: 10px;

}

.field {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;

}
.field input {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.field button{
    margin-top: 30px;
    cursor: pointer;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(234, 245, 140);
    transition: 0.2s ease-in-out;
}

.field button:hover {
    background-color: rgb(207, 226, 32);
}

#field-span {
    margin-top: 30px;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    font-size: 23px;
}
